<?xml version="1.0"?>
<!DOCTYPE cache PUBLIC
  "-//GemStone Systems, Inc.//GemFire Declarative Caching 8_0//EN"
  "http://www.gemstone.com/dtd/cache8_0.dtd">

<cache>

	<!-- Pado initializer -->
	<initializer>
		<!-- Initialize VM as a pado -->
		<class-name>com.netcrest.pado.gemfire.GemfirePadoServerInitializer</class-name>
	</initializer>

</cache>